<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>CSK Technologies Award</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
	<table bgcolor = "#BFD8F1" border="0" cellpadding="0" cellspacing="0" width="800px" style =" font-family:Tahoma, Geneva, sans-serif;">
		<tr>
			<td align="center" style="padding-bottom:5px; padding-top:50px;"> 
				<img src="http://i52.photobucket.com/albums/g2/rk_rkid/logo_zpsgcjic5jo.png" alt="CSK Technologies">
			</td>
		</tr>	
		<tr>
			<td align="center" style="padding-bottom:35px; padding-top: 15px;"> 
				<img src="http://i52.photobucket.com/albums/g2/rk_rkid/congrats_zps6ebxacdo.png" alt="Congratulations">
			</td>
		</tr>	
		<tr>
			<td align="center" style="padding-top:15px; padding-bottom:45px; font-size:32px;"> 
				%recName%, you have been awarded
			</td>
		</tr>
			<td align="center" style="padding-top:15px; padding-bottom: 75px; font-size:32px;">
				%awardTitle%
			</td>
		</tr>
		<tr>
			<td  align="right" style="padding-top:45px; padding-bottom: 15px; padding-right:50px; font-size:20px;"> 
				Congratulations on your success!
			</td>			
		</tr>
		<tr>
			<td align="right" style="padding-top:20px; padding-bottom: 45px; padding-right:75px; font-size:20px;">
				%giveName% 
			</td> 
		</tr>
		<tr>
			<td align="left" style="padding-top:20px; padding-bottom: 45px; padding-left:25px;">
				CSK Technologies 123 Tech Drive Anytown, Anystate  12345
			</td>
		</tr>		
	</table>
</body>
</html>
